core/data/facesengine/dnnface/yolov3-wider_16000.weights filter=lfs diff=lfs merge=lfs -text
core/tests/facesengine/scripts/facenet_opencv_dnn/models/20180402-114759/model-20180402-114759.ckpt-275.data-00000-of-00001 filter=lfs diff=lfs merge=lfs -text
