[Desktop Entry]
Type=Application
Name=Affinity Photo Editor
Name[ar]=محرر الصور Affinity
Name[ca]=Editor de fotos Affinity
Name[ca@valencia]=Editor de fotos Affinity
Name[es]=Editor Affinity Photo
Name[ka]=ფოტორედაქტორი Affinity
Name[nl]=Fotobewerker Affinity
Name[pt_BR]=Editor de Foto Affinity
Name[sl]=Affinity Photo Editor
Name[tr]=Affinity Fotoğraf Düzenleyicisi
Name[uk]=Редактор фотографій Affinity
X-Exec=Photo.exe %f
X-Icon=Photo.exe
MimeType=image/jpg;image/bmp;image/png;image/tiff;image/raw;image/heif;image/webp;image/dng;image/jxl;image/jp2
