[Desktop Entry]
Type=Application
Name=Darktable
Name[ar]=دارك تيبل
Name[be]=Darktable
Name[bg]=Darktable
Name[ca]=Darktable
Name[ca@valencia]=darktable
Name[cs]=Darktable
Name[de]=Darktable
Name[en_GB]=Darktable
Name[eo]=Darktable
Name[es]=Darktable
Name[eu]=Darktable
Name[fi]=Darktable
Name[fr]=DarkTable
Name[ga]=Tábla Dorcha
Name[gl]=Darktable
Name[he]=Darktable
Name[hu]=Darktable
Name[is]=Darktable
Name[it]=Darktable
Name[ka]=Darktable
Name[lo]=Darktable
Name[nl]=Darktable
Name[pl]=Darktable
Name[pt_BR]=Darktable
Name[ru]=Darktable
Name[sk]=Darktable
Name[sl]=Darktable
Name[sv]=Darktable
Name[tr]=Darktable
Name[ug]=Darktable
Name[uk]=Darktable
Name[zh_CN]=Darktable
Name[zh_TW]=Darktable
X-Exec=darktable.exe %f
X-Icon=darktable.exe
MimeType=image/jpg;image/raw
