[Desktop Entry]
Type=Application
Name=RawTherapee
Name[ar]=راوثيرابي
Name[be]=RawTherapee
Name[bg]=RawTherapee
Name[ca]=RawTherapee
Name[ca@valencia]=RawTherapee
Name[cs]=RawTherapee
Name[de]=RawTherapee
Name[en_GB]=RawTherapee
Name[eo]=RawTherapee
Name[es]=RawTherapee
Name[eu]=RawTherapee
Name[fi]=RawTherapee
Name[fr]=RawTherapee
Name[ga]=RawTherapee
Name[gl]=RawTherapee
Name[he]=RawTherapee
Name[is]=RawTherapee
Name[it]=RawTherapee
Name[ka]=RawTherapee
Name[nl]=RawTherapee
Name[pl]=RawTherapee
Name[pt_BR]=RawTherapee
Name[ru]=RawTherapee
Name[sk]=RawTherapee
Name[sl]=RawTherapee
Name[sv]=RawTherapee
Name[tr]=RawTherapee
Name[uk]=RawTherapee
Name[zh_CN]=RawTherapee
Name[zh_TW]=RawTherapee
X-Exec=rawtherapee.exe %f
X-Icon=rawtherapee.exe
MimeType=image/jpg;image/raw
