[Desktop Entry]
Type=Application
Name=VLC media player
Name[ar]=مشغل وسائط في إل سي
Name[be]=Медыяпрайгравальнік VLC
Name[bg]=VLC media player
Name[ca]=Reproductor multimèdia VLC
Name[ca@valencia]=Reproductor multimèdia VLC
Name[cs]=Přehrávač médií VLC
Name[de]=VLC Media Player
Name[en_GB]=VLC media player
Name[eo]=VLC media player
Name[es]=Reproductor multimedia VLC
Name[eu]=VLC hedabide jotzailea
Name[fi]=VLC-mediasoitin
Name[fr]=Lecteur multimédia VLC
Name[ga]=Seinnteoir meán VLC
Name[gl]=Reprodutor multimedia VLC
Name[he]=נגן המדיה VLC
Name[hu]=VLC media player
Name[is]=VLC margmiðlunarspilari
Name[it]=Riproduttore multimediale VLC
Name[ka]=VLC media player
Name[nl]=VLC mediaspeler
Name[pl]=Odtwarzacz multimedialny VLC
Name[pt_BR]=Reprodutor de mídia VLC
Name[ru]=Медиапроигрыватель VLC
Name[sk]=VLC media player
Name[sl]=Medijski predvajalnik VLC
Name[sv]=VLC mediaspelare
Name[tr]=VLC Ortam Oynatıcısı
Name[ug]=VLC ۋاسىتە ياڭراتقۇچ
Name[uk]=Мультимедійний програвач VLC
Name[zh_CN]=VLC 媒体播放器
Name[zh_TW]=VLC 媒體播放器
X-Exec=vlc.exe %f
X-Icon=vlc.exe
MimeType=video/mp4;video/mov;video/mpg;video/wmv
